* {
    margin: 0;
}

:root {
    --nav-grey: #2b2b2b;
    --body-grey: #161616;
    --input-grey: #3d3d3d;
    --text-dark-grey: #4e4e4e;
    --text-light-grey: #b4b4b4;
    --text-lighter-grey: #dbdbdb;
    --white: #ffffff;
}

body {
    overflow: hidden;
}
/* Navigation */
.navbar {
    height: 70px;
    background-color: var(--nav-grey);
}
.navbar-content {
    height: 70px;
    width: 90%;
    display: flex;
    align-items: center;
}

/* Logo */
.logo-container {
    margin-left: 20px;
    width: 193px;
}
.logo {
    fill: currentColor;
    width: 203px;
}

/* New Release */
.new-releases {
    height: 100vh;
    background-color: var(--body-grey);
    grid-template-rows: 10% auto;
}
.song-list-container {
    height: 80vh;
    margin: 0 10%;
    grid-template-rows: 10% auto;
}
.release-control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.release-control i {
    color: var(--text-light-grey);
    font-size: 25px;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.release-control i:hover {
    color: var(--text-lighter-grey);
}
/* Song Card */
.song-card-container {
    flex-wrap: wrap;
    justify-content: space-between;
}
.release-song-image {
    width: 100%;
}
.song-card {
    height: 250px;
    width: 15.66%;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.song-card .release-song-image {
    transition: all 300ms ease-in-out;
}
.song-card:hover {
    width: 18%;
    height: auto;
}
.song-card:hover .song-title {
    color: var(--text-lighter-grey);
}
.song-card:hover .artist-name {
    display: none;
}
.song-title {
    height: 20px;
    color: var(--text-light-grey);
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
.artist-name {
    height: 20px;
    color: var(--text-dark-grey);
    overflow: hidden;
}
/* Artists Search */
.search-artist-image{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
}
.search-artist-name{
    height: 25px;
    font-size: 1.2em;
    color: var(--text-light-grey);
    overflow: hidden;
}
/* No Search */
.no-search {
    display: flex;
    height: 100vh;
    background-color: var(--body-grey);
}
/* Input */
.nav-input-container {
    width: 33%;
    align-items: center;
}
.nav-input-container i {
    color: var(--text-light-grey);
    top: 25%;
    left: 10px;
}
.nav-input {
    height: 35px;
    width: 80%;
    background-color: var(--input-grey);
    border: 0;
    border-radius: 3px;
    padding-left: 40px;
    color: var(--text-light-grey);
    font-size: 1em;
}
/* Display */
.row {
    display: flex;
}
.grid {
    display: grid;
}

/* Position */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
/* Color */
.white {
    color: var(--white);
}

/* Lettering */
.main-title {
    margin: auto;
    color: var(--text-light-grey);
}
/* Debug */
.debug {
    border: solid 1px red;
}
